@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "GPA Calculator";
}
<!--adding model-->

@model CalculatorModel
    <!-- js files -->
    <h2>Grade Calculator</h2>
    <form method="post">
        <label>Assignments</label>
        <input id="assignment" type="number" asp-for="assignment" min="0" />
        <br />
        <label>Group Project</label>
        <input asp-for="project" id="project" type="number" min="0" />
        <br />
        <label>Quizzes</label>
        <input asp-for="quiz" id="quiz" type="number" min="0" />
        <br />
        <label>Exams</label>
        <input asp-for="exam" id="exam" type="number" min="0" />
        <br />
        <label>INTEX</label>
        <input asp-for="intex" id="intex" type="number" min="0" />
        <br /><br />
        <input type="submit" value="Calculate Final Grade" id="submitButton" />
        <div asp-validation-summary="All"></div>
    </form>
