@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Shayna's Website";
    ViewBag.Header = "Meet Shayna Oh";
}



    <h1>@ViewBag.Header</h1>
    <br />
    <!--image of me at Tokyo Disneyland-->
    <img width="700px" src="~/img/20190720_070115.jpg" />

    <h2>What I Hope to Gain From This Semester</h2>
    <p>
        In IS 413 this semester, I hope to create functional web pages and web applciations using ASP.net
        and the MVC model. I hope to learn a lot but also to learn at a good pace, avoiding too much stress that
        I currently perceive I may experience through the course of this class. I'm also excited to work with my team
        to create web applications.
    </p>

    <!--My top three jobs-->
    <h2>My Top Three Desired Jobs</h2>
    <ol>
        <li>Database Management</li>
        <li>Healthcare Data Analyst</li>
        <li>Web Developer</li>
    </ol>

    <!--<p id="output"></p>-->